Source: pyroute2
Priority: optional
Maintainer: Firstname Lastname <will@1ncrypt.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/pyroute2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pyroute2.git;a=summary

Package: pyroute2-dev
Section: libdevel
Architecture: any
Depends: pyroute2BROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: pyroute2BROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
